<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        Info about
        {% if user is not none %}
        {{ user['username'] }}#{{ user['discriminator'] }}.
        {% else %}
        you.
        {% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    {% if username is not none %}
    Username: @{{ user['username'] }}#{{ user['discriminator'] }}<br>
    {% if email %}
    Email: {{ user['email'] }}<br>
    {% endif %}
    2FA: {% if user['mfa_enabled'] %} Enabled {% else %} Disabled {% endif %}<br>
    Avatar: <br> <img src="https://cdn.discordapp.com/avatars/{{ user['id'] }}/{{ user['avatar'] }}.png"><br>
    {% endif %}
</body>
</html>